interactions:
- request:
    body: '{"location": "WestUS2", "properties": {"redisConfiguration": {}, "tenantSettings":
      {}, "sku": {"name": "Premium", "family": "p", "capacity": 1}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis/cliredis000002?api-version=2022-06-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/Redis/cliredis000002\",\r\n
        \ \"location\": \"West US 2\",\r\n  \"name\": \"cliredis000002\",\r\n  \"type\":
        \"Microsoft.Cache/Redis\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Creating\",\r\n    \"redisVersion\": \"6.0\",\r\n    \"sku\": {\r\n      \"name\":
        \"Premium\",\r\n      \"family\": \"P\",\r\n      \"capacity\": 1\r\n    },\r\n
        \   \"enableNonSslPort\": false,\r\n    \"instances\": [\r\n      {\r\n        \"sslPort\":
        15000,\r\n        \"isMaster\": false,\r\n        \"isPrimary\": false\r\n
        \     },\r\n      {\r\n        \"sslPort\": 15001,\r\n        \"isMaster\":
        false,\r\n        \"isPrimary\": false\r\n      }\r\n    ],\r\n    \"publicNetworkAccess\":
        \"Enabled\",\r\n    \"tenantSettings\": {},\r\n    \"redisConfiguration\":
        {\r\n      \"maxclients\": \"7500\",\r\n      \"maxmemory-reserved\": \"642\",\r\n
        \     \"maxfragmentationmemory-reserved\": \"642\",\r\n      \"maxmemory-delta\":
        \"642\"\r\n    },\r\n    \"accessKeys\": {\r\n      \"primaryKey\": \"bF5zPRQtqZR72folXiDdBfp10atkqMoLRAzCaAnjIC0=\",\r\n
        \     \"secondaryKey\": \"PLZNaOO8wOJOhmZ9enoYJWTA3K7pMyYt8AzCaKuVjDE=\"\r\n
        \   },\r\n    \"hostName\": \"cliredis000002.redis.cache.windows.net\",\r\n
        \   \"port\": 6379,\r\n    \"sslPort\": 6380,\r\n    \"linkedServers\": []\r\n
        \ }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/asyncOperations/d987de45-abc4-41d8-ba71-5c7779082f33?api-version=2022-06-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis/cliredis000002?api-version=2022-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - f0f34774-afd8-40e5-aba1-70068478f4a2
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/asyncOperations/d987de45-abc4-41d8-ba71-5c7779082f33?api-version=2022-06-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West
        US 2/asyncOperations/d987de45-abc4-41d8-ba71-5c7779082f33\",\r\n  \"name\":
        \"d987de45-abc4-41d8-ba71-5c7779082f33\",\r\n  \"status\": \"InProgress\",\r\n
        \ \"startTime\": null,\r\n  \"endTime\": null,\r\n  \"percentComplete\": null,\r\n
        \ \"properties\": null,\r\n  \"error\": null\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/asyncOperations/d987de45-abc4-41d8-ba71-5c7779082f33?api-version=2022-06-01
      content-type:
      - application/json
      x-rp-server-mvid:
      - e5433f71-fbc0-4b3f-866c-972cf5a25db6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis/cliredis000002?api-version=2022-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/Redis/cliredis000002","location":"West
        US 2","name":"cliredis000002","type":"Microsoft.Cache/Redis","tags":{},"properties":{"provisioningState":"Succeeded","redisVersion":"6.0","sku":{"name":"Premium","family":"P","capacity":2},"enableNonSslPort":false,"instances":[{"sslPort":15000,"isMaster":false,"isPrimary":false},{"sslPort":15001,"isMaster":true,"isPrimary":true}],"publicNetworkAccess":"Disabled","tenantSettings":{},"redisConfiguration":{"maxclients":"15000","maxmemory-reserved":"1328","maxfragmentationmemory-reserved":"1328","maxmemory-delta":"1328"},"accessKeys":null,"hostName":"cliredis000002.redis.cache.windows.net","port":6379,"sslPort":6380,"linkedServers":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - f0f34774-afd8-40e5-aba1-70068478f4a2
    status:
      code: 200
      message: OK
version: 1
