interactions:
- request:
    body: '{"location": "WestUS2", "identity": {"type": "SystemAssigned, UserAssigned",
      "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/akhantwal-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/akhantwal-userassigned-identity":
      {}}}, "properties": {"redisConfiguration": {}, "tenantSettings": {}, "sku":
      {"name": "Basic", "family": "c", "capacity": 0}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis/cliredis000002?api-version=2022-06-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/Redis/cliredis000002\",\r\n
        \ \"location\": \"West US 2\",\r\n  \"name\": \"cliredis000002\",\r\n  \"type\":
        \"Microsoft.Cache/Redis\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Creating\",\r\n    \"redisVersion\": \"6.0\",\r\n    \"sku\": {\r\n      \"name\":
        \"Basic\",\r\n      \"family\": \"C\",\r\n      \"capacity\": 0\r\n    },\r\n
        \   \"enableNonSslPort\": false,\r\n    \"instances\": [\r\n      {\r\n        \"sslPort\":
        15000,\r\n        \"isMaster\": false,\r\n        \"isPrimary\": false\r\n
        \     }\r\n    ],\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"tenantSettings\":
        {},\r\n    \"redisConfiguration\": {\r\n      \"maxclients\": \"256\",\r\n
        \     \"maxmemory-reserved\": \"30\",\r\n      \"maxfragmentationmemory-reserved\":
        \"30\",\r\n      \"maxmemory-delta\": \"30\"\r\n    },\r\n    \"accessKeys\":
        {\r\n      \"primaryKey\": \"QrBCaxJJYG2CcoAEd1it8CJfqCJVrWLn6AzCaEmiPZk=\",\r\n
        \     \"secondaryKey\": \"NQvOABWiEIWBEFbCaS0xL9UaHO0iEToRGAzCaNXizWo=\"\r\n
        \   },\r\n    \"hostName\": \"cliredis000002.redis.cache.windows.net\",\r\n
        \   \"port\": 6379,\r\n    \"sslPort\": 6380,\r\n    \"linkedServers\": []\r\n
        \ },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned, UserAssigned\",\r\n
        \   \"principalId\": \"c12c0654-f1b7-4235-8146-e531125910cf\",\r\n    \"tenantId\":
        \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"userAssignedIdentities\":
        {\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/akhantwal-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/akhantwal-userassigned-identity\":
        {\r\n        \"principalId\": \"adc2b3d2-e682-49ba-b3b6-e0bbf8c77bc2\",\r\n
        \       \"clientId\": \"485f4287-9ff2-4801-aad6-e91b75375df7\"\r\n      }\r\n
        \   }\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/asyncOperations/18441116-14a4-4dda-b927-36e38dc820ba?api-version=2022-06-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_redis000001/providers/Microsoft.Cache/redis/cliredis000002?api-version=2022-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - f0f34774-afd8-40e5-aba1-70068478f4a2
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/asyncOperations/18441116-14a4-4dda-b927-36e38dc820ba?api-version=2022-06-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West
        US 2/asyncOperations/18441116-14a4-4dda-b927-36e38dc820ba\",\r\n  \"name\":
        \"18441116-14a4-4dda-b927-36e38dc820ba\",\r\n  \"status\": \"InProgress\",\r\n
        \ \"startTime\": null,\r\n  \"endTime\": null,\r\n  \"percentComplete\": null,\r\n
        \ \"properties\": null,\r\n  \"error\": null\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/asyncOperations/18441116-14a4-4dda-b927-36e38dc820ba?api-version=2022-06-01
      content-type:
      - application/json
      x-rp-server-mvid:
      - f0f34774-afd8-40e5-aba1-70068478f4a2
    status:
      code: 200
      message: OK
[...]
